/*
Analise o código CSS abaixo e calcule em pixels o tamanho da fonte dos elementos:

h1 

.principal 

.secundário


*/
html {
  font-size: 20px;
}

html h1 {
  font-size: 2rem;
} /* 2 * 20 = 40*/

h1 > .principal {
  font-size: 1.4em;
} /*1,4 * 40 = 56*/

html .secundario {
  font-size: 1.4rem;
} /*1,4 * 20 = 28*/
/*
2. Dada a cor definida no formato RGBrgb(219, 78, 68) , calcule duas possíveis variações,
uma 15% mais clara, outra 15% mais escura. Coloque as cores lado-a-lado e compare os
resultados.
*/
.cor {
  background: rgb(219, 78, 68);
}
.cor-clara {
  background: rgb(252, 90, 78); /*219+15%=251.85,78+15%=89.7,68+15%=78.2*/
}
.cor-escura {
  background: rgb(187, 66, 58); /*219-15%=186.15,78-15%=66.3,68-15%=57.8*/
}
